.spectrum-array-item-number {
  --spectrum-array-item-number-size: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--spectrum-array-item-number-size);
  height: var(--spectrum-array-item-number-size);
  border-radius: 50%;
  overflow: hidden;
  line-height: var(--spectrum-array-item-number-size);
  font-size: 0.75em;
  font-weight: 500;
  text-align: center;
  background-color: var(--spectrum-global-color-gray-500);
  color: var(--spectrum-global-color-gray-200);
}

button {
  cursor: pointer !important;
}

.grabbable {
  display: flex;
  touch-action: none;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  min-width: 34px;
}

/* Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.list-array-item.enableDetailedView {
  background-color: var(--spectrum-global-color-gray-100);
}
.list-array-item.enableDetailedView .animatedModalItemDiv {
  background-color: var(--spectrum-global-color-gray-100);
  top: 0;
  z-index: 9000;
  width: 95%;
  min-height: 100%;
  height: 100%;
  flex-grow: 1;
  position: absolute;
  contain: paint;
}
.list-array-item.enableDetailedView .darkenBackground {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.2;
  z-index: 8000;
}

.list-array-item.enableDetailedView.collapsed {
}
.list-array-item.enableDetailedView.expanded {
}
.animatedModalItemDiv {
  background-color: var(--spectrum-global-color-gray-100);
  z-index: 9000;
}

.list-array-item.enableDetailedView > .animatedModalItemDiv {
  border-color: var(
    --spectrum-alias-border-color-dark,
    var(
      --spectrum-global-color-dark,
      var(--spectrum-semantic-dark-color-border)
    )
  );
  border-left-width: var(--spectrum-alias-border-size-thin);
  border-left-style: solid;
}
.list-array-item.enableDetailedView.expanded
  > .animatedModalItemDiv
  > .json-form-dispatch-wrapper
  > .array-item-header {
  position: sticky;
  width: 100%;

  padding: 10px 13px 10px 13px;
  margin-top: -12px;
  border-radius: 10px 10px 0 0;
  top: 0px;
  left: 0;

  background-color: var(--spectrum-global-color-gray-100);
  z-index: 1;
  border-bottom: 2px solid var(--spectrum-global-color-gray-200);
}